body {
  margin: 0;
  overflow-x: hidden;
}

div {
  height: 100vh;
  width: 100vw;
}

/*Posisjonering og plassering av knappen med lyd.*/
.playBotton {
  position: absolute;
  right: 1%;
  z-index: 1;
}

/*Bakgrunn dagtid.*/
.day {
  background: rgb(217, 172, 54);
  background: linear-gradient(
    0deg,
    rgba(217, 172, 54, 1) 0%,
    rgba(128, 176, 164, 1) 20%
  );
  display: flex;
  z-index: 2;
}

/*logo og animasjon for logoene*/
.boomerangBeachBarLogo {
  width: 15vw;
  position: fixed;
  top: 6vh;
  left: 83vw;
  animation: boomerangBeachBarLogoAnimation 2s linear infinite;
  z-index: 2;
}
@keyframes boomerangBeachBarLogoAnimation {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 20deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -20deg;
  }
  100% {
    rotate: 0deg;
  }
}

/*Posisjonering og styling av pilen*/
.arrow {
  width: 10%;
  position: fixed;
  top: -4vh;
  rotate: 180deg;
}
.arrow:hover {
  rotate: 160deg;
}

/*Posisjonering, styling og størrelser på fagtid*/
.sun {
  position: sticky;
  left: 40vw;
  top: 5vh;
  width: 20%;
  height: 40%;
  background-color: rgb(248, 239, 184);
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

/*Posisjonerig, styling og animasjon av skyene*/
.cloud1,
.cloud2,
.cloud3,
.cloud4 {
  position: absolute;
  animation: cloudPulsate 3s infinite;
}
.cloud1 {
  width: 25%;
  top: 15vh;
  left: 10vw;
}
.cloud2 {
  width: 20%;
  top: 10vh;
  left: 5vw;
}
.cloud3 {
  width: 25%;
  top: 12vh;
  left: 50vw;
}
.cloud4 {
  width: 15%;
  top: 10vh;
  left: 65vw;
}
@keyframes cloudPulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*Posisjonering, styling og animasjon av boomerang*/
.boomerang {
  width: 7%;
  position: absolute;
  top: 5%;
  z-index: 5;
  animation: linear infinite;
  animation-name: boomerangAnimation;
  animation-duration: 7s;
}

@keyframes boomerangAnimation {
  0% {
    left: 93%;
    rotate: 0deg;
  }
  14% {
    left: 43%;
  }
  25% {
    left: 3%;
    rotate: 350deg;
  }
  37% {
    left: 43%;
  }
  50% {
    left: 93%;
    rotate: 0deg;
  }
  63% {
    left: 43%;
  }
  75% {
    left: 3%;
    rotate: 350deg;
  }
  87% {
    left: 43%;
  }
  100% {
    left: 93%;
    rotate: 0deg;
  }
}

/*Posisjonering, styling og animasjon av eventene dagtid*/
.boxesDay {
  position: absolute;
  top: 20vh;
  left: 25vw;
  width: 50%;
  height: 40%;
  z-index: 4;
  border: 10px;
}

.animalShow {
  width: 30%;
  height: 90%;
  margin: 15px;
  position: absolute;
  border: 2px solid black;
  background-image: url(../images/animalShow.png);
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  font-family: BullettoKilla;
}
.animalShowTxt {
  width: 28%;
  height: 84%;
  position: absolute;
  left: 1vw;
  top: 2vh;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -1;
  color: black;
  font-family: sans-serif;
}

.surfShow {
  width: 30%;
  height: 90%;
  margin: 15px;
  position: absolute;
  left: 33%;
  border: 2px solid black;
  background-image: url(../images/surfShow.jpeg);
  background-size: cover;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: BullettoKilla;
}
.surfShowTxt {
  width: 28%;
  height: 84%;
  position: absolute;
  left: 17.5vw;
  top: 2vh;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -1;
  color: black;
  font-family: sans-serif;
}

.kanagrooRiding {
  width: 30%;
  height: 90%;
  margin: 15px;
  position: absolute;
  left: 66%;
  border: 2px solid black;
  background-image: url(../images/kangarooRiding.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  font-family: BullettoKilla;
}
.kanagrooRidingTxt {
  width: 28%;
  height: 84%;
  position: absolute;
  left: 34vw;
  top: 2vh;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -1;
  color: black;
  font-family: sans-serif;
}

.animalShow:hover,
.surfShow:hover,
.kanagrooRiding:hover {
  content-visibility: hidden;
  background-image: none;
  border: hidden;
}

/*Posisjonering, styling og animasjon for palmetre*/
.palmtreeDay {
  width: 30%;
  position: absolute;
  top: 35vh;
  left: 70vw;
  display: flex;
  z-index: 3;
  animation: palmtree 2s infinite;
}
@keyframes palmtree {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 1deg;
  }
  100% {
    rotate: 0deg;
  }
}

.uluruDay {
  width: 60%;
  position: absolute;
  top: 36vh;
  left: -15vw;
  display: flex;
  z-index: 1;
}

.robertIrwin {
  position: absolute;
  width: 8%;
  top: 60vh;
  left: 5vw;
  display: flex;
  z-index: 4;
}

.fence {
  position: absolute;
  width: 20%;
  top: 75vh;
  left: 25vw;
  display: flex;
  z-index: 4;
}

/*Posisjonering og styling av surfer*/
.surfer {
  position: absolute;
  width: 10%;
  top: 65vh;
  left: 50vw;
  display: flex;
  z-index: 3;
  animation-name: surferAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/*Animasjon for surfer*/
@keyframes surferAnimation {
  0% {
    left: 100%;
    transform: rotate(35deg);
    transform: scaleX(1);
    top: 65%;
  }
  13% {
    left: 75%;
    transform: rotate(35deg);
    transform: scaleX(1);
    top: 65%;
  }

  25% {
    left: 50%;
    transform: rotate(20deg);
    transform: scaleX(1);
    top: 60%;
  }
  37% {
    left: 25%;
    transform: rotate(35deg);
    transform: scaleX(1);
    top: 65%;
  }
  50% {
    left: 0%;
    transform: rotate(35deg);
    transform: scaleX(-1);
    top: 65%;
  }
  63% {
    left: 25%;
    transform: rotate(35deg);
    transform: scaleX(1);
    top: 65%;
  }
  75% {
    left: 50%;
    transform: rotate(20deg);
    transform: scaleX(-1);
    top: 60%;
  }
  87% {
    left: 75%;
    transform: rotate(35deg);
    transform: scaleX(1);
    top: 65%;
  }

  100% {
    left: 100%;
    transform: rotate(35deg);
    transform: scaleX(-1);
    top: 65%;
  }
}

/*Surfeskilt*/
.surfSign {
  position: absolute;
  width: 10%;
  top: 65vh;
  left: 63vw;
  display: flex;
  z-index: 4;
}

/*Ulike dyr på dagtid*/
.kangaroo {
  position: absolute;
  width: 19%;
  top: 65vh;
  left: 50vw;
  display: flex;
  z-index: 4;
}
.crocodile1 {
  position: absolute;
  width: 12%;
  top: 70vh;
  left: 20vw;
  display: flex;
  z-index: 3;
}

.crocodile2 {
  position: absolute;
  width: 7%;
  top: 83vh;
  left: 34vw;
  display: flex;
  z-index: 5;
}

.sharkFin {
  position: absolute;
  width: 2%;
  top: 74vh;
  left: 50vw;
  display: flex;
  z-index: 3;
  animation-name: finAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform: scaleX(-1);
}
/*Animasjon av haifinne*/
@keyframes finAnimation {
  0% {
    left: 75%;
  }
  50% {
    left: 50%;
  }
}

.snake {
  position: absolute;
  width: 5%;
  top: 85vh;
  left: 10vw;
  display: flex;
  z-index: 3;
}

.emu {
  position: absolute;
  width: 5%;
  top: 70vh;
  left: 15vw;
  display: flex;
  z-index: 3;
}

/*Byron Byson*/
.byronBayson {
  width: 17%;
  position: absolute;
  top: 60vh;
  left: 70vw;
  display: flex;
  z-index: 4;
  animation: byronBaysonDesepears 5s forwards;
  animation-delay: 15s;
}
.byronBaysonTxt {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 47vh;
  left: 65vw;
  display: flex;
  align-items: center;
  z-index: 5;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  visibility: hidden;
  font-family: sans-serif;
  font-size: 1rem;
}
@keyframes byronBaysonDesepears {
  0% {
    transform: scaleX(-1);
    left: 70vw;
  }
  100% {
    transform: scaleX(-1);
    left: 100vw;
  }
}
.byronBayson:hover ~ .byronBaysonTxt {
  visibility: visible;
}

/*Posisjonering og styling for havet dagtid*/
.waterDay {
  width: 100vw;
  height: 7vh;
  background: rgb(254, 240, 201);
  background: radial-gradient(
    circle,
    rgba(254, 240, 201, 1) 0%,
    rgba(128, 176, 164, 1) 30%,
    rgb(0, 250, 229) 100%
  );
  position: absolute;
  top: 75%;
  display: flex;
  z-index: 1;
}
.waterReflection {
  opacity: 40%;
  width: 160vw;
  height: 7vh;
  position: absolute;
  top: 75vh;
  display: flex;
  z-index: 1;
  animation: wavesAnimation 10s infinite;
}
/*Animasjon for bølgene dagtid*/
@keyframes wavesAnimation {
  0% {
    left: -50%;
  }
  50% {
    left: -25%;
  }
  100% {
    left: -50%;
  }
}

/*Posisjonering og styling av sanden*/
.sandDay {
  width: 100vw;
  height: 20vh;
  background: rgb(67, 30, 21);
  background: linear-gradient(
    0deg,
    rgba(67, 30, 21, 1) 2%,
    rgba(255, 220, 166, 1) 80%,
    rgba(254, 240, 201, 1) 100%
  );
  position: absolute;
  top: 80%;
}
.sandEffect {
  opacity: 20%;
  width: 100vw;
  height: 20vh;
}

/*Natttid*/
/*Koding og styling for nighttime elementene*/
.night {
  background: rgb(217, 172, 54);
  background: linear-gradient(
    0deg,
    rgba(217, 172, 54, 1) 0%,
    rgba(214, 116, 43, 1) 60%,
    rgba(67, 30, 21, 1) 100%
  );
}

/*Posisjonering og styling for solnedgang nattid*/
.sunset {
  position: absolute;
  left: 40vw;
  top: 135vh;
  width: 20%;
  height: 40%;
  background-color: rgb(251, 227, 91);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

/*Posisjonering, styling og animasjon for tekstbokser til de ulike eventene nattid*/
.boxesNight {
  position: absolute;
  top: 120vh;
  left: 25vw;
  width: 50%;
  height: 40%;
  z-index: 4;
  border: 10px;
}

.consert {
  width: 30%;
  height: 90%;
  margin: 15px;
  position: absolute;
  border: 2px solid black;
  background-image: url(../images/concert.jpeg);
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: BullettoKilla;
}
.consertTxt {
  width: 28%;
  height: 84%;
  position: absolute;
  left: 1vw;
  top: 2vh;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -1;
  color: white;
  font-family: sans-serif;
}

.danceShow {
  width: 30%;
  height: 90%;
  margin: 15px;
  position: absolute;
  left: 33%;
  border: 2px solid black;
  background-image: url(../images/danceShow.jpeg);
  background-size: cover;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: BullettoKilla;
}
.danceShowTxt {
  width: 28%;
  height: 84%;
  position: absolute;
  left: 17.5vw;
  top: 2vh;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -1;
  color: white;
  font-family: sans-serif;
}

.standup {
  width: 30%;
  height: 90%;
  margin: 15px;
  position: absolute;
  left: 66%;
  border: 2px solid black;
  background-image: url(../images/standup.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: BullettoKilla;
}
.standupTxt {
  width: 28%;
  height: 84%;
  position: absolute;
  left: 34vw;
  top: 2vh;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -1;
  color: white;
  font-family: sans-serif;
}
.consert:hover,
.danceShow:hover,
.standup:hover {
  content-visibility: hidden;
  background-image: none;
  border: none;
}

/*Posisjonering, styling og animasjon av palmetre nattid*/
.palmtreeNight {
  width: 30%;
  position: absolute;
  top: 140vh;
  left: 70vw;
  display: flex;
  z-index: 3;
  animation: palmtree 3s infinite;
}
@keyframes palmtree {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 1deg;
  }
  100% {
    rotate: 0deg;
  }
}

/*Posisjonering for uluru nattid, scene og band*/
.uluruNight {
  width: 60%;
  position: absolute;
  top: 141vh;
  left: -15vw;
  display: flex;
  z-index: 1;
}

.scene {
  width: 30%;
  height: 5%;
  position: absolute;
  background-color: black;
  top: 185vh;
  left: 35vw;
  z-index: 3;
}

.bandNight {
  position: absolute;
  top: 165vh;
  width: 17%;
  left: 43vw;
  z-index: 3;
}

/*Posisjonering, styling og animasjon av personer*/
.dancingPeople1 {
  position: absolute;
  top: 175vh;
  width: 7%;
  left: 70vw;
  z-index: 3;
  animation: spinningPeople 4s infinite;
}

@keyframes spinningPeople {
  0% {
    left: 70%;
  }
  50% {
    left: 75%;
  }
  100% {
    left: 70%deg;
  }
}
.dancingPeople2 {
  position: absolute;
  top: 174vh;
  width: 8%;
  left: 65vw;
  z-index: 3;
  animation: dancingPeople 1s infinite;
}
@keyframes dancingPeople {
  0% {
    top: 174vh;
  }

  50% {
    top: 171vh;
  }

  100% {
    top: 174vh;
  }
}

.dancingPeople3 {
  position: absolute;
  top: 173vh;
  width: 40%;
  left: 1vw;
  z-index: 4;
}

.peopleHoldingHands {
  position: absolute;
  top: 177vh;
  width: 6%;
  left: 92vw;
  z-index: 3;
}

/*Posisjonering, styling og animasjon for Byron Byson nattid*/
.byronBaysonNight {
  width: 17%;
  position: absolute;
  top: 165vh;
  right: -20vw;
  display: flex;
  z-index: 6;
  animation: byronAppearsAnimation 5s forwards;
  animation-delay: 15s;
}
.byronBaysonNightTxt {
  width: 12%;
  height: 22%;
  position: absolute;
  top: 155vh;
  right: 18vw;
  display: flex;
  align-items: center;
  z-index: 6;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  visibility: hidden;
  font-family: sans-serif;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.byronBaysonNight:hover ~ .byronBaysonNightTxt {
  visibility: visible;
  transform: scale(1.2);
}
/*Animasjon til når Byron kommer tilbake igjen*/
@keyframes byronAppearsAnimation {
  0% {
    right: -20vw;
  }
  100% {
    right: 3vw;
  }
}

/*Posisjonering og styling for havet nattid*/
.waterNight {
  top: 180vh;
  width: 100vw;
  height: 7vh;
  position: absolute;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 212, 26, 1) 50%,
    rgb(255, 179, 49) 96%
  );
  display: flex;
  z-index: 2;
}
/*Animasjon av havet nattid*/
.waterReflectionNight {
  opacity: 40%;
  width: 150vw;
  height: 7vh;
  position: absolute;
  top: 180vh;
  display: flex;
  z-index: 2;
  animation: wavesAnimation 10s infinite;
}
/*Posisjonering, styling og animasjon for sanden nattid*/
.sandNight {
  width: 100vw;
  height: 25vh;
  background: rgb(214, 84, 43);
  background: radial-gradient(
    circle,
    rgba(214, 84, 43, 1) 45%,
    rgba(67, 41, 21, 1) 100%
  );
  position: absolute;
  top: 180%;
}
.sandNightEffect {
  opacity: 20%;
  width: 100vw;
  height: 24.5vh;
}
/*Fonten vi brukte på overskrifter*/
@font-face {
  font-family: BullettoKilla;
  src: url(../fonts/Bulletto\Killa.ttf);
}
